@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Unbounded:wght@300;400;600;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Unbounded', cursive;
  font-size: 16px;
  color-scheme: light;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

a.active {
  background-color: rgb(221, 230, 238);
  padding: 0.5rem;
  border-radius: 5px;
}
